@import url("https://fonts.googleapis.com/css?family=Rubik:400,700&display=swap");

:root {
  --primary-color: #18c1ee;
  --accent-color: #fe0;
  --white: white;
  --black: black;
  --light-grey: #f5f5f5;
  --medium-grey: #cccccc;
  --main-font: "Rubik", sans-serif;
  --regular: 400;
  --bold: 700;
  --small-text: 0.9rem;
  --p-text: 1.2rem;
  --p-titles: 1.5rem;
  --very-big: 8rem;
}

body {
  font-family: var(--main-font);
  background-color: var(--white);
}
